SECRET_KEY=django-insecure-replace-this
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost,your-backend-domain.com
CORS_ALLOWED_ORIGINS=http://localhost:5173,https://your-frontend-domain.vercel.app
CORS_ALLOW_CREDENTIALS=False
EMAIL_HOST_USER=your-gmail@gmail.com
EMAIL_HOST_PASSWORD=your-16-char-app-password
DEFAULT_FROM_EMAIL=your-gmail@gmail.com
CONTACT_RECEIVER_EMAIL=harshu131203@gmail.com
